.add-item-back {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background: white;

    padding-left: 10px;
    padding-right: 10px;
}

#myInput {
    width: 100% !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    margin: 0 !important;
}

#this-form {
    display: flex;
    flex-direction: column;

}

#this-form input, #this-form select, #this-form textarea {
    margin: 10px 0;
}

#this-form select {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#this-form input, #this-form textarea {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#this-form select {
    width: 300px;
}

#myUl {
    overflow: scroll;
    width: auto;
    height: 200px;
    overflow-x: hidden;
    margin: 0;
    list-style: none;
    padding: 5px;
}

#myUl li {
    padding: 5px;
    border: 1px solid black;
    margin: 4px;
    cursor: pointer;
}

.list-container-ingredients {
    overflow: scroll;
    overflow-x: scroll;
    width: auto;
    height: 200px;
    overflow-x: hidden;
    border-bottom: black 1px solid;
}

#ingredient-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
}

#ingredient-edit input[type="text"] {
    width: 300px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#myInput {
    width: 500px;
}

#current-ingredients {
    list-style: none;
    padding: 0;
}

#current-ingredients li {
    padding: 5px;
    border: 1px solid darkgoldenrod;
    margin: 4px;
    cursor: pointer;
}

#current-ingredients li p {
    padding-left: 20px;
}

#form-create-cocktail, #form-create-cocktail-label {
    background-color: white;
    /* border: solid 2px black; */
    /* border-radius: 5px; */
    cursor: pointer;
    border-radius: 22px;
    border: 2px solid #aaa;
    margin-left: 5px;
    padding: 12px 14px;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    color: #aaa;
}

#form-create-cocktail {
    display: none;
}

#form-create-cocktail-label {
    margin-bottom: 20px;
}

#form-create-cocktail-label:hover {
    background-color: #eeecec;
}

#add-item-edit {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 30px;
    background-color: goldenrod;
    border: none;
    color: white;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

#add-item-edit:hover {
    background-color: darkgoldenrod;
}