/* Add a black background color to the top navigation */
body
{
    margin: 0;
    padding: 0;
}
.topnav {
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    align-items: center;
    height: 48px;
}

.central-nav-panel {
    display: flex;
    align-items: center;
}

#this-logo {
    padding: 14px 16px;
}

.to-login
{
    border-radius: 22px;
    border: 2px solid #aaa;
    margin-left: 5px;
    padding: 12px 14px;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

/* Style the links inside the navigation bar */
.links {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a[class="links"]:hover, a[class="to-login"]:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */
.topnav a.active {
    background-color: darkgoldenrod;
    color: white;
}

.nav-right
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.global-search {
    float: left;
    width: 250px;
    align-items: center;
    height: 100%;
    margin-right: 20px;
}

.global-search input {
    border-radius: 30px;
    height: 30px;
}

.menu-btn {
    display: none;
    color: white;
    justify-self: left;
    left: 0;
    padding: 14px 16px;
    position: absolute;
}

.search-btn {
    display: none;
    color: white;
    justify-self: right;
    right: 0;
    padding: 14px 16px;
    position: absolute;
}

#myLinks {
    color: black;
    background-color: black;
}

#myLinks a{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    color: white;
}

.sub-menu {
    display: none;
}

.responsive {
    display: block;
}
.responsive a{
    display: block;
    text-align: left;
}

@media (min-width: 850px) {
    #myLinks {
        display: none;
    }

    #center-nav {
        display: flex;
    }

    #this-logo {
        display: block;
    }

    .central-nav-panel {
        display: flex;
    }
}
@media (max-width: 850px) {
    .menu-btn {
        display: block;
    }

    .search-btn {
        display: block;
    }

    #myLinks {
    }

    #myLinks a {
        display: block;
    }

    .links {
        display: none;
    }

    .nav-right {
        display: none;
    }

    .central-nav-panel {
        display: none;
    }

    .show-search {
        display: flex;
    }

    .hide-logo {
        display: none;
    }

    .topnav {

    }
}