{sub-navbar}
<section class="search-back">
    <div id="main">
        <div class="item-content">
            <div class="item-head">
                <h1><?=$data['Name']?></h1>
                <ul class="tags">
                    <?php foreach($data['Categories'] as $item): ?>
                    <li class="item-tag">
                        <?=$item;?>
                    </li>
                    <?php endforeach; ?>
                </ul>
            </div>

            <div class="item-pict">
                <img src="../../../img/cocktails/<?=$data['FileName'];?>.jpg" alt="cocktail"/>
            </div>

            <div class="contain">
                <h2>Ingredients</h2>
                <table class="ingredient-tables">
                    <tbody>
                    <tr>
                        <th colspan="3">Ingredients</th>
                    </tr>
                    <?php foreach($data['Recipe'] as $item): ?>
                    <tr>
                        <td class="name">
                            <a href="/item_ingredient/ingredient/<?=$item['ingredient']['ID'];?>?id=<?=$item['ingredient']['ID'];?>">
                                <?=$item['ingredient']['Name'];?>
                            </a>
                        </td>
                        <td class="amount"><?=$item['count'];?></td>
                        <td class="unit"><?=$item['measure'];?></td>
                    </tr>
                    <?php endforeach; ?>

                    </tbody>
                </table>
            </div>
            <div class="recipe">
                <h2 class="recipe-title">
                    Recipe
                </h2>
                <ul class="recipe-steps">
                    <?php foreach($data['Steps'] as $item): ?>
                    <li><?=$item;?></li>
                    <?php endforeach; ?>
                </ul>
            </div>

            <div>
                <form method="get" action="/cocktail/cocktail_edit/">
                    <input type="hidden" name="id" value="<?=$data['ID']; ?>" />
                    <input type="submit" value="Edit" />
                </form>
                <form method="get" action="/item_cocktail/delete/" aria-disabled="true"/>
                    <input type="hidden" name="id" value="<?=$data['ID']; ?>" disabled/>
                    <input type="submit" value="Delete" disabled/>
                </form>
            </div>
        </div>
    </div>
</section>
</div>
