<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../css/mainstyles.css">
    <link rel="stylesheet" href="../../../css/navbar.css">
    <link rel="stylesheet" href="../../../css/choose-menu.css">
    <link rel="stylesheet" href="../../../css/text-styles.css">
    <link rel="stylesheet" href="../../../css/footer.css">
    <link rel="stylesheet" href="../../../css/search-elements.css">
    <link rel="stylesheet" href="../../../css/item.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" async="" src="../../../js/nav-bar.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Roboto&display=swap');
    </style>
</head>
<body>
<div class="all-content">
-->

{sub-navbar}
<section class="search-back">
    <div id="main">
        <div class="item-content">
            <div class="item-head">
                <h1>Ice</h1>
                <ul class="tags">
                    <li class="item-tag">
                        Ice
                    </li>
                </ul>
            </div>

            <div class="item-pict">
                <img src="../../../img/ingredients/ice.jpg" alt="cocktail"/>
            </div>

            <div id="ingredient-definition">
                <span class="text-about">
                    При производстве этого незаменимого ингредиента основное внимание уделяют чистоте воды и скорости заморозки.
                    Чем медленнее замораживается вода, тем прозрачнее получается продукт.
                    Идеальные образцы не имеют полостей и медленнее тают в бокале.
                </span>
            </div>
        </div>
    </div>
</section>

<!--
</div>
<footer class="social-footer">
    <div class="social-footer-left">
        <a href="../../../index.html" class="main-logo"><em style="color:darkgoldenrod;">El</em> Gusto</a>
    </div>

    <div class="social-footer-center">
        <a href="#about">About</a>
    </div>

    <div class="social-footer-icons">
        <ul class="menu simple">
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>
</body>
</html>
-->