{sub-navbar}
<section class="search-back">
    <div id="main">
        <div class="item-content">
            <div class="item-head">
                <h1><?=$data['Name'];?></h1>
                <ul class="tags">
                    <li class="item-tag">
                        <?=$data['Name'];?>
                    </li>
                </ul>
            </div>

            <div class="item-pict">
                <img src="../../../img/ingredients/<?=$data['FileName'];?>.png" alt="<?=$data['Name'];?>"/>
            </div>

            <div id="ingredient-definition">
                <span class="text-about">
                    <?=$data['Description'];?>
                </span>
            </div>
        </div>
    </div>
</section>
