
{sub_navbar}

<section class="search-back">
    <div id="main">
        <div class="search-result cocktail-grid">
            <!--
            <?php for($i = 0; $i < count($data); $i++ ): ?>
            <form method="post" action="/item_cocktail" class="cocktail-item">
                <a type="submit" onclick="this.closest('form').submit()" class="cocktail-item-preview">
                    <img src="../../../img/cocktails/<?=$data[$i]['FileName']?>.jpg" alt="<?=$data[$i]['FileName']?>" class="cocktail-item-image"/>
                    <div class="cocktail-item-name"><?=$data[$i]['Name']?></div>
                </a>
                <input type="hidden" name="id" value="<?=$i;?>">
            </form>
            <?php endfor; ?>
            -->
            {items}
        </div>
        <a class="common-more" href="#more">
            More
        </a>
    </div>
</section>
