
{sub_navbar}

<section class="search-back">
    <div id="main">
        <div class="search-result cocktail-grid">
            <!--
            <?php for($i = 0; $i < count($data); $i++ ): ?>
            <form method="post" action="/item_cocktail" class="cocktail-item">
                <a type="submit" onclick="this.closest('form').submit()" class="cocktail-item-preview">
                    <img src="../../../img/cocktails/<?=$data[$i]['FileName']?>.jpg" alt="<?=$data[$i]['FileName']?>" class="cocktail-item-image"/>
                    <div class="cocktail-item-name"><?=$data[$i]['Name']?></div>
                </a>
                <input type="hidden" name="id" value="<?=$i;?>">
            </form>
            <?php endfor; ?>
            -->
            {items}
        </div>
        <a class="common-more" href="#more">
            More
        </a>
    </div>
</section>

<script>

    let sortItems
    let searchItems
    $(document).ready(function() {
        sortItems = (filters) => {
            $.ajax({
                type: "GET",
                url: "cocktails/filter/value",
                data: {
                    search: filters.get("search"),
                    strong: filters.get("strong"),
                    base: filters.get("base"),
                    taste: filters.get("taste")
                },
                success: function(data) {
                    let result = JSON.parse(data)
                    console.log(result)
                    $(".search-result").html(result)
                }
        })
        }

        searchItems = (item) => {
            $.ajax({
                type: "GET",
                url: ""
            })
        }
    })

    for (let el of document.getElementsByClassName("filter")) {
        el.addEventListener('change', (e) => submitForm(e))
    }

    document.getElementById("sub-nav-form").addEventListener("submit", (e) => submitForm(e))
    document.getElementById("sub-nav-form").addEventListener("input", (e) => submitForm(e))

    function submitForm(e) {
        e.preventDefault()
        let form = document.getElementById("sub-nav-form")
        let formData = new FormData(form)
        sortItems(formData)
    }
</script>