<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../css/mainstyles.css">
    <link rel="stylesheet" href="../../../css/navbar.css">
    <link rel="stylesheet" href="../../../css/choose-menu.css">
    <link rel="stylesheet" href="../../../css/text-styles.css">
    <link rel="stylesheet" href="../../../css/footer.css">
    <link rel="stylesheet" href="../../../css/search-elements.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" async="" src="../../../js/nav-bar.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Roboto&display=swap');
    </style>
</head>
<body>
<div class="all-content">
    -->

{sub-navbar}

<section class="search-back">
    <div id="main">
        <div class="search-result cocktail-grid">
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item-ingredient/itemIngredient.html">
                    <img src="../../../img/ingredients/ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item-ingredient/itemIngredient.html">
                    <img src="../../../img/ingredients/sprite.png" alt="Sprite" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Sprite</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item-ingredient/itemIngredient.html">
                    <img src="../../../img/ingredients/ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item-ingredient/itemIngredient.html">
                    <img src="../../../img/ingredients/ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item-ingredient/itemIngredient.html">
                    <img src="../../../img/ingredients/ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item-ingredient/itemIngredient.html">
                    <img src="../../../img/ingredients/ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item-ingredient/itemIngredient.html">
                    <img src="../../../img/ingredients/ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item-ingredient/itemIngredient.html">
                    <img src="../../../img/ingredients/ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
        </div>
        <a class="common-more" href="#more">
            More
        </a>
    </div>
</section>

    <!--
</div>
-->

<!--
</body>
</html>
-->