<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../css/mainstyles.css">
    <link rel="stylesheet" href="../../../css/navbar.css">
    <link rel="stylesheet" href="../../../css/choose-menu.css">
    <link rel="stylesheet" href="../../../css/text-styles.css">
    <link rel="stylesheet" href="../../../css/footer.css">
    <link rel="stylesheet" href="../../../css/search-elements.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" async="" src="../../../js/nav-bar.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Roboto&display=swap');
    </style>
</head>
<body>
<div class="all-content">
    -->

<?=$sub_navbar;?>

<section class="search-back">
    <div id="main">
        <div class="search-result cocktail-grid">
            <?php for($i = 0; $i < count($data); $i++ ): ?>
            <!--
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item_ingredient/item_ingredient.html">
                    <img src="../../../img/ingredients/<?=$item['Name'];?>.png" alt="<?=$item['Name'];?>" class="cocktail-item-image"/>
                    <div class="cocktail-item-name"><?=$item['Name'];?></div>
                </a>
            </div>-->

            <form action="/item_ingredient/ingredient/<?=$data[$i]['ID'];?>" class="cocktail-item" method="get">
                <a type="submit" onclick="this.closest('form').submit()" class="cocktail-item-preview">
                    <img src="/img/ingredients/<?=$data[$i]['FileName'];?>.png" alt="<?=$data[$i]['FileName'];?>" class="cocktail-item-image"/>
                    <div class="cocktail-item-name"><?=$data[$i]['Name'];?></div>
                </a>
                <input type="hidden" name="id" value="<?=$i;?>">
            </form>
            <?php endfor;?>
            <!--
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item_ingredient/item_ingredient.html">
                    <img src="../../../img/ingredients/Sprite.png" alt="Sprite" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Sprite</div>
                </a>
            </div
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item_ingredient/item_ingredient.html">
                    <img src="../../../img/ingredients/Ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item_ingredient/item_ingredient.html">
                    <img src="../../../img/ingredients/Ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item_ingredient/item_ingredient.html">
                    <img src="../../../img/ingredients/Ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item_ingredient/item_ingredient.html">
                    <img src="../../../img/ingredients/Ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item_ingredient/item_ingredient.html">
                    <img src="../../../img/ingredients/Ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            <div class="cocktail-item">
                <a class="cocktail-item-preview" href="../item_ingredient/item_ingredient.html">
                    <img src="../../../img/ingredients/Ice.jpg" alt="Ice" class="cocktail-item-image"/>
                    <div class="cocktail-item-name">Ice</div>
                </a>
            </div>
            -->
        </div>
        <a class="common-more" href="#more">
            More
        </a>
    </div>
</section>

<script>
    function filterData(data) {

    }

    let sortItems
    $(document).ready(function() {
        sortItems = (filters) => {
            $.ajax({
                type: "GET",
                url: "ingredients/filter/value",
                data: {
                    search: filters.get("search"),
                    strong: filters.get("strong"),
                    base: filters.get("base"),
                    taste: filters.get("taste")
                },
                success: function(data) {
                    let result = JSON.parse(data)
                    console.log(result)
                    $(".search-result").html(result)
                }
            })
        }
    })
    // document.getElementById("sub-nav-form").action = "cocktails/filter/value"

    for (let el of document.getElementsByClassName("filter")) {
        el.addEventListener('change', (e) => {
            e.preventDefault()
            let form = document.getElementById("sub-nav-form")
            let formData = new FormData(form)
            sortItems(formData)
        })
    }


    document.getElementById("sub-nav-form").addEventListener("submit", (e) => submitForm(e))
    document.getElementById("sub-nav-form").addEventListener("input", (e) => submitForm(e))

    function submitForm(e) {
        e.preventDefault()
        let form = document.getElementById("sub-nav-form")
        let formData = new FormData(form)
        sortItems(formData)
    }

</script>

    <!--
</div>
-->

<!--
</body>
</html>
-->