<!-- Body part -->
<div class="main-back wrapper bgded overlay">
    <article class="page-intro">
        <p class="heading">
            Welcome
        </p>
    </article>
    <div class="preview-text">
        <p>
            A platform for creating and sharing unforgettable combinations for every connoisseur
        </p>
        <div>
            <a href="/signup">Create an account</a>
        </div>

    </div>
    <div class="lines">
        <div class="column category cut-img">
            <img src="../../../img/cocktail.jpg" alt="Cocktails">
            <a class="img-text" href="/cocktails">
                <p>
                    Cocktails
                </p>
            </a>
        </div>
        <div class="column category cut-img">
            <img src="../../../img/ingredient.jpg" alt="Ingredients">
            <a class="img-text" href="/ingredients">
                <p>
                    Ingredients
                </p>
            </a>
        </div>
    </div>
</div>
